cant open async rat

![image](https://user-images.githubusercontent.com/44266242/86345065-b99bc880-bc63-11ea-8d12-b6ff5e115d98.png)
this is wha im getting

Try to disable any AV even Windows Defender, if it still isn’t working try to run it with admin privileges. 

Or your cinema3D Crack stops the process maby?

> Or your cinema3D Crack stops the process maby?

How it can stop it?

I trying to run it as admin and with disable AV didn’t work

> > Or your cinema3D Crack stops the process maby?
> 
> How it can stop it?

I thought that maybe it could interfere somehow. 

> I trying to run it as admin and with disable AV didn’t work

Have you tried to reinstall it?
Is it your first time using Async?

> > I trying to run it as admin and with disable AV didn’t work
> 
> Have you tried to reinstall it?
> Is it your first time using Async?

Because if not, the problem would definitely be in the code, and not just your PC not being compatible for some reason...

This issue to caused by windows itself when the process does not have the correct permissions to access the file, this can be caused by various things, the most common are

> Your Antivirus is blocking the file - Add a exception or Temporarily turn off your AV
> Your Antivirus QUARANTINED the Client (stub.exe) - you will need to add a exception and restore the client or, turn off AV temporarily add an exception then re-enable  
> The file is protected by its configuration - This should only ever happen if its intentionally restricted by the user, the current file permissions can be seen by going Right Click / Properties / Security / Advanced 

However, 99% of cases are the result of the file being quarantined (put into the AV's "vault" with a fake file left to mark it. to do this go to your AV & restore the stub and add an exception. Note: you may also need to add an exception to the built client or obfuscate it 

This is what I did it’s like sometimes working sometimes not so I’m using lol 2-3 rats and 1 botnet lol

A connection issue is indicating that the server is running, this is ***probably*** not AV related, the most common cause of this error is the user setting the port to something that is being used by another process or is protected by the OS (e.g. SSH protocol), to prevent this issue try to avoid using IANA reserved ports. Could you please provide a list of the ports the client is listening to?

Technical Note:

Port numbers are assigned in various ways, based on three ranges: System
Ports (0-1023), User Ports (1024-49151), and the Dynamic and/or Private
Ports (49152-65535); the difference uses of these ranges is described in
[RFC6335]. According to Section 8.1.2 of [RFC6335], System Ports are 
assigned by the "IETF Review" or "IESG Approval" procedures described in 
[RFC8126]. User Ports are assigned by IANA using the "IETF Review" process, 
the "IESG Approval" process, or the "Expert Review" process, as per 
[RFC6335]. Dynamic Ports are not assigned.


Its most likely your firewall not trusting this application to start a TCP/UDP server on your computer to allow others to connect to it,

> its sometimes working sometimes not so i might close its post...
> 
> 
> 
> and how do I update client if my IP was changed?

Either you use a service like noip.com wich gives you a free static up (sort of) or you use the pastebin plugin and from there change your up every time you get a new one. 

> > its sometimes working sometimes not so i might close its post...
> > 
> > 
> > 
> > and how do I update client if my IP was changed?
> 
> Either you use a service like noip.com wich gives you a free static up (sort of) or you use the pastebin plugin and from there change your up every time you get a new one. 
> 
> To get your external ip you can use a website like myip.com. Then you just edit your Pastebin, paste and there you go. I would recommend to set your paste to be only accessible via the link. 

I can do more then one ip and port or no?

> > > its sometimes working sometimes not so i might close its post...
> > > 
> > > 
> > > 
> > > and how do I update client if my IP was changed?
> > 
> > Either you use a service like noip.com wich gives you a free static up (sort of) or you use the pastebin plugin and from there change your up every time you get a new one. 
> > 
> > To get your external ip you can use a website like myip.com. Then you just edit your Pastebin, paste and there you go. I would recommend to set your paste to be only accessible via the link. 
> 
> I can do more then one ip and port or no?

On noir.com or on pastebin?